import (
	. "one_of_seven"       // import using .
)

import "two_of_seven"        // import packages one by one
import foobarbaz "three_of_seven"

import (
_  "four_of_seven" // nasty "quoted string" in a comment

        "five_of_seven"
)


import
(
        // some comments have a closing paren: )
	"six/of/seven"
)

import ("seven_of_seven"

multiline_potato_multiline
multiline_anything_potato_anything_multiline

multiline
_potato_
multiline


permanently delete
"last_guy")
